In [ ]:
#Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.
#Include the following:
#School name
#School type
#Total students
#Total school budget
#Per student budget
#Average math score
#Average reading score
#% passing math (the percentage of students who passed math)
#% passing reading (the percentage of students who passed reading)
#% overall passing (the percentage of students who passed math AND reading)

In [70]:
import pandas as pd

In [71]:
#load files
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

#Read files
school_data = pd.read_csv(school_file)
student_data = pd.read_csv(student_file)

#Combine dataset
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])
combined_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
#Total number of unique schools
unique_schools = combined_data["school_name"].unique()
school_count = len(unique_schools)
school_count

15

In [50]:
#Total students
total_students = combined_data["student_name"].count()
total_students

39170

In [38]:
#Total budget
unique_amounts = combined_data[["school_name","budget"]].drop_duplicates(["school_name"])
total_budget = unique_amounts["budget"].sum()
total_budget

24649428

In [45]:
#Average math score
round(combined_data["math_score"].mean(),2)

78.99

In [41]:
#Average reading score
round(combined_data["reading_score"].mean(),2)

81.88

In [96]:
#% passing math (the percentage of students who passed math)
passing_math = combined_data.loc[combined_data["math_score"]>69,["school_name","student_name","math_score"]]
count_passing_math = passing_math["student_name"].count()
percent_passing_math = round(((count_passing_math/total_students)*100),2)
percent_passing_math

74.98

In [62]:
#% passing reading (the percentage of students who passed reading)
passing_reading = combined_data.loc[combined_data["reading_score"]>69,["student_name","reading_score"]]
count_passing_reading = passing_reading["student_name"].count()
percent_passing_reading = round(((count_passing_reading/total_students)*100),2)
percent_passing_reading

85.81

In [63]:
#% overall passing (the percentage of students who passed math AND reading)
passing_both = combined_data.loc[(combined_data["reading_score"]>69) & (combined_data["math_score"]>69),["student_name","reading_score","math_score"]]
count_passing_both = passing_both["student_name"].count()
percent_passing_both = round(((count_passing_both/total_students)*100),2)
percent_passing_both

65.17

In [106]:
school_summary = combined_data[["school_name","student_name","reading_score","math_score","type","size","budget"]]
school_summary = school_summary.groupby(["school_name"])
school_reading_summary = school_summary["reading_score"].mean()
school_math_summary = school_summary["math_score"].mean()
school_student_count = school_summary["student_name"].count()
school_pass_math = combined_data.loc[combined_data["math_score"]>69,"school_name"].value_counts()
school_pass_reading = combined_data.loc[combined_data["reading_score"]>69,"school_name"].value_counts()
school_pass_both = combined_data.loc[(combined_data["reading_score"]>69) & (combined_data["math_score"]>69),["school_name"]]
school_pass_both["school_name"].value_counts()

Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Thomas High School       1487
Ford High School         1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: school_name, dtype: int64

In [107]:
school_pass_math = combined_data.loc[combined_data["math_score"]>69,"school_name"].value_counts()
school_pass_math

Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: school_name, dtype: int64

In [108]:
school_pass_reading = combined_data.loc[combined_data["reading_score"]>69,"school_name"].value_counts()
school_pass_reading

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: school_name, dtype: int64